# Copy this file to .env and replace the credentials with
# your own before starting the app.

# Watson Assistant
ASSISTANT_URL=https://api.eu-gb.discovery.watson.cloud.ibm.com/instances/f9054440-dbf5-4698-9c7c-0b20a83c5783

ASSISTANT_APIKEY=yUAgEBBznRqxaaENR-Rvo7r4YcL1EvRnUgIGLCQz26jI

ASSISTANT_SKILL_ID=a74886a0-2232-4703-bb1f-2314186e760c

# Run locally on a non-default port (default is 3000)
# PORT=3000
